*{
	
/*
 * Some elements have their default margins and paddings, 
 * and this pretty much resets everything back to zero
 */ 
	margin: 0px;
	padding: 0px;
}

h1{

/* 
 * Setting the font weight, font size, and font family 
 */	
	font: bold 20px Tahoma;
}

h2{

	font: bold 14px Tahoma;
}

header, section, footer, aside, nav, article, hgroup{

/*
 * What this does is pretty much makes all of these tags 
 * block level elements
 */ 
	display: block;
}

body{

/*
 * In some older browser we need this text line property
 * to ensure that our website is centered
 */ 	
	text-align: center;
}

#big_wrapper {
	
	border: 5px dashed black;
	width: 1000px;
	
/*
 * Even amount of space on the left hand side and right
 * hand side 
 */
	margin: 20px auto; 
	
/*
 * Even though the box itself is centered, however, the
 * contents inside the box are going to be left aligned
 */
	text-align: left;
}

#top_header{
	
	background: red;
	border: 3px solid green;

/*
 * The space between the text and the border or the
 * element and the border is the padding.
 *
 * As for margin is the space outside the border.
 */
	padding: 20px;
}

#menu{
	
	background: black;
	color: blue;
}

#menu li{

/*
 * Instead of the block level element  we use this to 
 * make sure that they appear from left to right
 */
	display: inline-block;
	list-style: none;
	padding: 5px;
	font:14px Tahoma;
}
	